<% include partials/header%>

<div id="carousel-example-generic" class="carousel slide top_range" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="/slide/Untitled-7.png" alt="first slide" style="width: 100%; height: 650px;">
			<div class="carousel-caption">
				<h1 class = "slide font">It takes a lot of courage to show your dreams to someone else.</h1>
				<a class="btn btn-primary btn-lg btn_landing" href="/startup"><strong>Read Stories</strong></a>
			</div>
		</div>
		<div class="item">
			<img src="/slide/Untitled-8.png" alt="second slide" style="width: 100%; height: 650px;">
			<div class="carousel-caption">
				<h1 class = "slide font">Love only grows by sharing. You can only have more for yourself by giving it away to others.</h1>
				<a class="btn btn-primary btn-lg btn_landing" href="/startup"><strong>Read Stories</strong></a>
			</div>
		</div>
		<div class="item">
			<img src="/slide/Untitled-9.png" alt="third slide" style="width: 100%; height: 650px;">
			<div class="carousel-caption">
				<h1 class = "slide font">If we have no peace, it is because we have forgotten that we belong to each other.</h1>
				<a class="btn btn-primary btn-lg btn_landing" href="/startup"><strong>Read Stories</strong></a>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="container container-header ctnhdr-2">
	<div class="row" style="padding: 50px;">
			<div class="col-md-12 col-lg-6">
				<div class="container">
				<iframe width="640" height="360" src="https://www.youtube.com/embed/_qAU9s8XLC8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			</div>
			<div class="col-md-12 col-lg-5" style="padding-left:70px;">
				<h2>
					"Watch, listen, and learn."<br></h2>
					<h3 style="margin-top: 0px;">- Donald Trump</h3>
					<h4>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus quod maxime placeat facere possimus, omnis voluptas assumenda est,</h4>
			</div>
	</div>
</div>


<div class="container container-header ctnhdr-2" style="background-color: #A62C23; color: white; ">
	<div class="row" style="width: 80%; margin: auto;">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 sb2">
			<h2 class="hasd">
				<strong>Why you need to share ?</strong>
			</h2>
			<div class="row" style="padding:50px;">
				<div class="col-md-3">
					<i class="fa fa-3x fa-area-chart white-text"></i>
					<br>Analytics
				</div>
				<div class="col-md-3">
					<i class="fa fa-3x fa-area-chart white-text"></i>
					<br>Analytics
				</div>
				<div class="col-md-3">
					<i class="fa fa-3x fa-area-chart white-text"></i>
					<br>Analytics
				</div>
				<div class="col-md-3">
					<i class="fa fa-3x fa-area-chart white-text"></i>
					<br>Analytics
				</div>
			</div>
			

			<br>
		</div>
	</div>
</div>
<div class="container container-header ctnhdr-2" style="border-bottom: none;">
	<div class="row">
		<h2 style="text-align: center;">"Watch, listen, and learn."</h2>
			<br>
		<div class="col-sm-1"></div>
		<div class="col-sm-8 sb2">
			 <% campgrounds.slice(-3).reverse().forEach(function(campground){ %>
			<div class="row" style="padding-bottom: 50px">
				<div class="col-md-3">
					<img class="imgas" src="<%=campground.image%>" style="height: auto;">
				</div>
				<div class="col-md-8">
					<h3 style="margin-bottom: 0px; margin-top: 10px;"><%=campground.name%></h3>
					<p><%=campground.description.substring(0,50)%></p>
					<a href="startup/<%= campground._id %>">Read More</a>
				</div>
			</div>
			   <% }); %>
			<br>
		</div>
		<div class="col-sm-2" style=" text-align: center;">
			<h3>Member</h3>
			<% biodata.reverse().slice(-3).reverse().forEach(function(biodata){ %>
		<img class="imgas" src="<%=biodata.image%>" style="height: auto; border-radius: 50%!important">
		<h4 style="margin-bottom: 5px;"><%=biodata.username%></h4>
		<% }); %>
	</div>
	</div>
</div>
<div class="container container-header ctnhdr-2">
	<div class="row" style="width: 80%; margin: auto;">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 sb2">
			<h2 class="hasd">
				<strong>Supported by</strong>
			</h2>
			<div class="row">
				<div class="col-md-3">
					<img class="imgas" src="https://pbs.twimg.com/profile_images/482880259788767234/k2pJ6IBP_400x400.png" style="height: auto;">

				</div>
				<div class="col-md-3">
					<img class="imgas" src="https://scontent-sea1-1.cdninstagram.com/t51.2885-19/s150x150/22069442_121648505205966_1634350865626169344_n.jpg" style="height: auto;">
				</div>
				<div class="col-md-3">
					<img class="imgas" src="http://itd.medan.uph.edu/images/contents/2016/06/it%20logo3-01.png" style="height: auto;">
				</div>
				<div class="col-md-3">
					<img class="imgas" src="https://pbs.twimg.com/profile_images/482880259788767234/k2pJ6IBP_400x400.png" style="height: auto;">
				</div>
			</div>
			

			<br>
		</div>
	</div>
</div>
<% include partials/footer%>